<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyByhEf6FK6Vk9vPm_6sg6ae05U70B2dlVc</string>
	<key>GCM_SENDER_ID</key>
	<string>664682745620</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>PPaules.com.Agile-Project</string>
	<key>PROJECT_ID</key>
	<string>agileprojects-d14ae</string>
	<key>STORAGE_BUCKET</key>
	<string>agileprojects-d14ae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:664682745620:ios:fd59323999d93a50be3c01</string>
</dict>
</plist>